body {
    margin: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  div.wrapper {
    width: 960px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
  
  header, footer {
    display: flex;
    background-color: slategray;
  }
  
  header {
    display: flex;
    background-color: slategray;
  }
  
  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  
  nav a {
    width: 100%;
    text-align: center;
  }
  
  main {
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  section.blade {
    margin: 1rem auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
  }
  
  section.blade.hero {
    width: 100%;
    margin-top: 0;
    position: relative;
  }
  
  .recipe p {
    text-align: left;
    background: #ffffff;
    margin: 20px 0px;
    padding: 0px 60px 0px 0px;
}
  

  /* CURRENT WORKING AREA */

#list-items {
  background-image: url('images/list-bg.png');
  padding: 50px 50px;
  
}


  .items_1 ul {
    float: left;
    padding: 0px 5rem;

  }

  .items_2 ul {
    float: right;
    padding: 0px 5rem;
  }

  footer p {
    text-align: center;
    width: 100%;
    /* margin: 5rem 0; */
  }

  td {
    border: 5px solid #212121;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    text-align: center;
    background-color: blanchedalmond;
}

th {
    border: 5px solid #212121;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    text-align: center;
    background-color: blanchedalmond;
}

#deliciousLog {
      float: left;
}